---
version: "3.4"
services:
  hapi:
    image: "hapiproject/hapi:${HAPI_IMAGE_TAG:-v5.5.1}"
    environment:
      JAVA_OPTIONS: "--spring.config.location=file:///opt/application.yaml"
    volumes:
      - "./config/hapi/application.yaml:/opt/application.yaml:ro"
    depends_on:
      - db
    ports:
      - "127.0.0.1:${EXTERNAL_PORT:-8090}:8080"

  db:
    image: postgres:${POSTGRES_VERSION:-12}
    environment:
      POSTGRES_DB: hapifhir
      POSTGRES_USER: hapifhir
      POSTGRES_PASSWORD: hapifhir
    volumes:
      - source: postgres-data
        target: /var/lib/postgresql/data
        type: volume
    ports:
      - "127.0.0.1:${PSQL_EXTERNAL_PORT:-15432}:5432"
    expose:
      - "5432"

  carl:
    image: ghcr.io/uwcirg/carl:${CARL_IMAGE_TAG:-latest}
    environment:
      FHIR_SERVER_URL: http://hapi:8080/fhir
    ports:
      - "127.0.0.1:${EXTERNAL_PORT:-5000}:5000"

volumes:
    postgres-data: {}
